<footer class="footer-info">
  <div class="info-social">
    <i class="fa-brands fa-square-facebook"></i
    ><i class="fa-brands fa-square-instagram"></i
    ><i class="fa-brands fa-square-twitter"></i>
  </div>
  <div class="f-info">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
  <div class="componey-info">&copy;&nbsp;&nbsp;2026&nbsp; Airbnb</div>
</footer>
