<% layout('/layouts/boilerplate') %>

<div class="alert alert-danger mt-4 d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div class="fs-1"><%=message%></div>
</div>
